.place-order{
    /* padding-top: 150px; */
    padding-bottom: 150px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
}

.place-order-left{
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    outline-color: #229a26;
}

.place-order-left .multi-fields{
    display: flex;
    gap: 10px;
}

.place-order-right{
    width: 100%;
    max-width: max(40%, 500px);
}

.place-order .cart-total button{
    margin-top: 30px;
}

.success-message{
    padding-top: 250px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.success-message h2{
    font-size: 40px;
    color: #229a26;
}

.success-message p{
    font-size: 20px;
}
