.add {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .add form {
    display: flex;
    flex-direction: column;
  }
  
  .add .add-img-upload {
    margin-bottom: 20px;
  }
  
  .add .add-img-upload img {
    width: 150px;
    height: 100px;
    cursor: pointer;
  }
  
  .add .add-product-name,
  .add .add-product-description,
  .add .add-product-category,
  .add .add-product-weight-price {
    margin-bottom: 20px;
  }

  .add .add-product-name input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
  .add .add-product-description textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  .add .add-product-category select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add .add-product-weight-price {
    display: flex;
    justify-content: space-between;
  }
  
  .add .add-weight,
  .add .add-price {
    flex: 1;
    margin-right: 10px;
  }
  
  .add .add-weight input,
  .add .add-price input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add .add-btn {
    padding: 15px 30px;
    background-color: #229a26;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add .add-btn:hover {
    background-color: #035506;
    font-size: 16px;
  }
  