.cart{
    padding-top: 130px;
    padding-bottom: 130px;
    width: 70%;
    margin: auto;
}

.cart-empty{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 50px;
    padding: 10px 0px;
    font-size: 50px;
    color: #929191;
    justify-content: center;
}

.cart-empty hr{
    margin-top: 15px;
    width: 200px;
}

.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: gray;
    font-size: max(1vw, 12px);
}

.cart-items-item{
    margin: 10px 0px;
    color: black;
}

.cart-items-item img{
    width: 50px;
    border-radius: 50%;
}

.cart hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.cart .cross{
    cursor: pointer;
}

.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}

.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart-total hr{
    margin: 10px 0px;
}

.cart-total button{
    border: none;
    color: white;
    background-color: #229a26;
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 50px;
    cursor: pointer;
    
}

.cart-promocode{
    flex: 1;
}

.cart-promocode p{
    columns: #555;
}

.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 50px;
}

.cart-promocode-input input{
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}

.cart-promocode-input button{
    width: max(10vw, 150px);
    padding: 12px 5px;
    background-color: #229a26;
    color: white;
    border: none;
    border-radius: 50px;
}

.alert {
    color: red;
    font-size: 14px;
    margin-top: -15px;
  }
  

.alert b{
    color: red;
    width: 200px;
}

@media (max-width:750px){
    .cart-bottom{
        flex-direction: column-reverse;
    }
    .cart-promocode{
        justify-content: start;
    }
}

.cart .quantity-control {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .cart .decrement-button,
  .cart .increment-button {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .cart .decrement-button:hover,
  .cart .increment-button:hover {
    background-color: #ccc;
  }
  
  .cart .cross {
    cursor: pointer;
    color: red;
  }
  