.faqs{
    width: 100%;
    height: 130vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/Faqs_bg.png'); /* Adjust the path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .faqs_bg_img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
} */

.faq_content{
    width: 80%;
    height: 100vh;
    /* background-color: rgb(255, 244, 229); */
    /* margin-top: 30px; */
    margin: auto;
    padding: 20px;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 50px;
}

.faq_content .faq_heading{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.faq_content .faq_heading p{
    font-size: 70px;
}

.faqs .faq_content .faq_questions{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    max-height: 75vh; 
    overflow-y: scroll;
}

.faq_questions::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
  }
  
  .faq_questions::-webkit-scrollbar-thumb {
    background: #d9830a; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners of the scrollbar thumb */
  }
  
  .faq_questions::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color on hover */
  }
  
  .faq_questions::-webkit-scrollbar-track {
    background: #f1f1f100; /* Background color of the scrollbar track */
  }

.faqs .faq_content .faq_questions .question{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border: 2px solid wheat;
    border-radius: 30px;
    
}

.faqs .faq_content .faq_questions .question img{
    width: 20px;
    rotate: 45deg;
    transition: 0.5s;
}

.faqs .faq_content .faq_questions .question:hover img{
    rotate: 90deg;
    opacity: 70%;
}

.faqs .faq_content .faq_questions .question .ans{
    visibility: hidden;
    position: absolute;
    margin-left: 60px;
    color: #555;
}

.faqs .faq_content .faq_questions .question .ques_content{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.faqs .faq_content .faq_questions .question:hover .ans{
    visibility: visible;
    position: relative;
}
