.sidebar{
    width: 18%;
    min-height: 90vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    background-color: #024c04;
}

.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: max(1vw, 10px);
}

.sidebar-option{
    display: flex;
    align-items: center;
    gap: 16px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
}

.sidebar-option:hover{
    background-color: #e0cf35;
    color: black;
}

.sidebar-option img{
    width: 40px;
}

.sidebar-option .wh_icon{
    position: relative;
    visibility: visible;
}

.sidebar-option .bl_icon{
    position: absolute;
    visibility: hidden;
}

.sidebar-option:hover .wh_icon{
    position: absolute;
    visibility: hidden;
}
.sidebar-option:hover .bl_icon{
    position: relative;
    visibility: visible;
}

.sidebar-option.active{
    background-color: #e0cf35;
    border-color: #28e02e;
    color: black;
}

.sidebar-option.active .bl_icon{
    visibility: visible;
}

@media (max-width:900px){
    .sidebar-option p{
        display: none;
    }

}