.navbar{
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: -20px;
}

.navbar .logo{
    width: 150px;
    animation: easeInOut 2s ease-in-out;
}



.navbar .links{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #111406d7;
    font-size: 18px;
    margin-top: 10px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-right .search-icon{
    width: 24px;
}

.navbar button{
    background: green;
    font-size: 16px;
    color: aliceblue;
    border: 2px solid yellow;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.navbar button:hover{
    /* padding: 15px 40px; */
    /* font-size: 20px;. */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    color: #F26D00;
}

.navbar li{
    padding-bottom: 2px;
    /* border-bottom: 2px solid #49557e; */
    /* color: #F26D00; */

}

.navbar li:hover{
    /* font-weight: 600; */
    color: #F26D00;

}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: green;
    border-radius: 5px;
    top: -8px;
    right: -8px;

}
