.footer{
    background: #000;
    width: 100%;
    height: 200px;
    /* padding-top: 100px; */
    /* display: flex; */
    color: aliceblue;
    align-items: center;
    overflow-x: hidden;
    
}

.footer_content{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: auto;
    padding-top: 100px;
    margin-left: -150px;
    
    /* margin-top: 100px; */
    /* padding-left: 70px; */
}
.footer .footer_content .logo img{
    width: 200px;
    height: 200px;
    /* margin-left: -100px; */
}

.footer .links li{
    color: #C0CC9B;
}


.footer .footer_content .links .footer-menu{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 50px;
    
}

.footer_content .links .footer-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: aqua;
    font-size: 18px;


}

.footer .footer_content .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #b7c7fa;
    color: #F26D00;
}

.footer .footer_content .footer-menu li{
    padding-bottom: 2px;
}

.footer .footer-menu li:hover{
    color: #F26D00;
}


.footer_link .copywrite{
    padding-top: 30px;
    color: #C0CC9B;
    /* z-index: 1; */
}

.footer_link{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.footer_img{
    margin-left: 1500px;
    width: 300px;
    height: 200px;
    object-fit: cover;
    position: absolute;
}

.footer_img img{
    /* width: 100%; */
    width: 500px;
    height: 200px;
    object-fit: cover;
    
}