

.Adminhome{
    width: 82%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background: var(--gradient-background);
    animation: moveGradient 60s linear infinite;
}



.Adminhome .date-time{
    margin-top: -250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 650px;
}

.Adminhome .date-time p{
    font-size: 26px;
    font-weight: 600;
    color: rgb(67, 110, 63);
}

.Adminhome .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Adminhome .content h1{
    font-size: 60px;
    background: linear-gradient(to right, #01a5cd, rgb(155, 155, 155), #f96f0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Adminhome .content p{
    font-size: 20px;
    font-weight:500;
    color: rgb(65, 65, 65);
}


.Adminhome .date-time .clock {
    /* text-align: center; */
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
  }
  .Adminhome .date-time .clock h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    color: rgb(67, 110, 63);
  }

  .Adminhome .date-time .clock h2 p{
    font-size: 20px;
  }
  

  